pre {
    background-color: #1c1b20;
    text-align: left;
    padding: 20px;   
     > code{
        text-align: left;
        line-height: 1.5;
        white-space: pre-wrap;
        word-break:break-all;
        color: #d3dce4
    }
}
