@import 'mixin';
@import 'button';
@import 'nav';

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    @include pad-mar-0();
  
    background-color: $color-white;
    color: #232323;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

#header {
    background-image: url("../img/header_img.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height:50vh;
}

#google {
    float: right;    
    #login > div {
        margin: 20px;
    }
    #logout {
        display: none;
    }
}

#manage {
    margin-left: 100px;
    float: left;
    display: none;
}

#title h1{
    @include text-outline(10px , #232323);
    @include fontStyle(6.6vh,#dcdcdc);
    text-align: center;
    margin: 0;
    padding-top: 20vh;
}

.container {
    margin: auto;
    margin-top: 50px;
    width:1080px;
}

#contents {
    min-height: 50vh;
}

#footer {
    background-color: #232323;
    color:#dcdcdc;    
    text-align: right;

    p {
        margin: 0;
        padding: 10px;
    }
}

@media only screen and (min-width: 1080px) {
    #manage {
        display: block;
    }
}

@media only screen and (max-width: 1080px) {
    .container {
        width: 100%;
    }
}