@import 'mixin';
@import 'button';
@import 'nav';
@import 'modal';
@import 'steemit';
@import 'highlighter';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
    @include pad-mar-0;
    background-color: #dcdcdc;
    color: #232323;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

.container {
    margin: 0 auto;
    width:1080px;
}

#contents {
    min-height: 100vh;
    text-align: center;
}

#footer {
    background-color: #232323;
    color:#dcdcdc;    
    text-align: right;

    p {
        margin: 0;
        padding: 10px;
    }
}

@media only screen and (max-width: 1080px) {
    .container {
        width: 90%;
    }
}