@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
button.snip { background-color: #c8c8c8; border: none; color: #ffffff; cursor: pointer; display: inline-block; font-family: 'BenchNine', Arial, sans-serif; font-size: inherit; line-height: 1; margin: 0.75em 1em; outline: none; padding: 0.3em 1em 0.25em; position: relative; text-transform: uppercase; font-weight: 700; }
button.snip:before, button.snip:after { border-color: transparent; -webkit-transition: all 0.25s; transition: all 0.25s; border-style: solid; border-width: 0; content: ""; height: 1.2em; position: absolute; width: 1.2em; }
button.snip:before { border-color: #c8c8c8; border-right-width: 0.1em; border-top-width: 0.1em; right: -0.25em; top: -0.25em; }
button.snip:after { border-bottom-width: 0.1em; border-color: #c8c8c8; border-left-width: 0.1em; bottom: -0.25em; left: -0.25em; }
button.snip:hover { background-color: #c8c8c8; }
button.snip:hover:before, button.snip:hover:after { height: 100%; width: 100%; }
button.snip:active { background-color: #666; }

button.simple { background: #1AAB8A; color: #fff; border: none; position: relative; height: 60px; font-size: 1.6em; padding: 0 2em; cursor: pointer; transition: 800ms ease all; outline: none; }

button.simple:hover { background: #fff; color: #1AAB8A; }

button.simple:before, button.simple:after { content: ''; position: absolute; top: 0; right: 0; height: 2px; width: 0; background: #1AAB8A; transition: 400ms ease all; }

button.simple:after { right: inherit; top: inherit; left: 0; bottom: 0; }

button.simple:hover:before, button.simple:hover:after { width: 100%; transition: 800ms ease all; }

nav.dark-theme { font-family: "Avenir Next", "Avenir", sans-serif; background-color: #232323; height: 50px; box-shadow: 0 0 1px 9px #232323; }
nav.dark-theme #menuToggle { display: block; position: fixed; top: 20px; left: 20px; z-index: 1; -webkit-user-select: none; user-select: none; }
nav.dark-theme #menuToggle input { display: block; width: 40px; height: 32px; position: absolute; top: -7px; left: -5px; cursor: pointer; opacity: 0; z-index: 2; -webkit-touch-callout: none; }
nav.dark-theme #menuToggle span { display: block; width: 33px; height: 4px; margin-bottom: 5px; position: relative; background: #dcdcdc; border-radius: 3px; z-index: 1; transform-origin: 4px 0px; transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; box-shadow: 0 0 1px 1px #232323; }
nav.dark-theme #menuToggle span:first-child { transform-origin: 0% 0%; }
nav.dark-theme #menuToggle span:nth-last-child(2) { transform-origin: 0% 100%; }
nav.dark-theme #menuToggle input:checked ~ span { opacity: 1; transform: rotate(45deg) translate(-2px, -1px); background: #232323; box-shadow: none; }
nav.dark-theme #menuToggle input:checked ~ span:nth-last-child(3) { opacity: 0; transform: rotate(0deg) scale(0.2, 0.2); }
nav.dark-theme #menuToggle input:checked ~ span:nth-last-child(2) { transform: rotate(-45deg) translate(0, -1px); }
nav.dark-theme #menuToggle input:checked ~ ul { transform: none; }
nav.dark-theme #menu { position: absolute; height: 150vh; width: 300px; margin: -100px 0 0 -50px; padding: 50px; padding-top: 125px; background: rgba(200, 200, 200, 0.85); list-style-type: none; -webkit-font-smoothing: antialiased; transform-origin: 0% 0%; transform: translate(-100%, 0); transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); box-shadow: 0 0 1px 1px rgba(200, 200, 200, 0.85); }
nav.dark-theme #menu li { padding: 10px 0; font-size: 22px; text-decoration: none; color: #232323; transition: color 0.3s ease; }
nav.dark-theme #menu li:hover { color: tomato; }
nav.dark-theme #nav-login { float: right; font-size: 20px; }

.modal-overlay { display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(255, 255, 255, 0.4); }

.modal { background-color: #f0f0f0; margin: 20vh auto 0; padding: 20px; border: 1px solid #888; width: 50%; max-width: 500px; min-width: 300px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; border-radius: 10px; }
.modal .g-signin2 { margin: auto; width: fit-content; }

.modal-close { color: gray; float: right; font-size: 30px; font-weight: bold; width: 100%; text-align: right; }
.modal-close:hover, .modal-close:focus { color: #232323; text-decoration: none; cursor: pointer; }

.modal-content { margin: 0 auto; padding: 10% 0; width: fit-content; }

.steemit-contents { line-height: 1.5; }
.steemit-contents ul, .steemit-contents ol { list-style: none; }
.steemit-contents img { max-width: 1080; width: 100%; height: auto; padding: 10px; margin: 10px; }

pre { background-color: #1c1b20; text-align: left; padding: 20px; }
pre > code { text-align: left; line-height: 1.5; white-space: pre-wrap; color: #d3dce4; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

body { margin: 0; padding: 0; background-color: #dcdcdc; color: #232323; font-family: "Avenir Next", "Avenir", sans-serif; }

.container { margin: 0 auto; width: 1080px; }

#contents { min-height: 100vh; text-align: center; }

#footer { background-color: #232323; color: #dcdcdc; text-align: right; }
#footer p { margin: 0; padding: 10px; }

.loader-overlay { position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(255, 255, 255, 0.4); }
.loader-overlay .loader { border: 16px solid #f3f3f3; border-radius: 50%; border-top: 16px solid #3498db; width: 120px; height: 120px; position: absolute; left: 50%; top: 50%; -moz-keyframes: spin 2s linear infinite; -webkit-animation: spin 2s linear infinite; /* Safari */ animation: spin 2s linear infinite; }

@-moz-keyframes spin { 0% { -moz-transform: translate(-50%, -50%) rotate(0deg); }
  100% { -moz-transform: translate(-50%, -50%) rotate(360deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: translate(-50%, -50%) rotate(0deg); }
  100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); } }
@keyframes spin { 0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); } }
@media only screen and (max-width: 1080px) { .container { width: 90%; } }

/*# sourceMappingURL=style.css.map */
