<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="765155504252-mnp81pgef2qrlvc8j9g2job71lptc806.apps.googleusercontent.com">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="//cdn.steemjs.com/lib/latest/steem.min.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <title>jmue</title>
</head>
<body onload="onload()">
    <nav class="dark-theme" role="navigation">
        <div id="menuToggle">
            <input id="menuCheckBox" type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li onclick="route(indexPage)">Home</li>
                <li onclick="route(steemit)">Blog</li>
                <li onclick="route(contactPage)">Contact</li>
            </ul>
        </div>
        <div id="nav-login">
            <button class="snip" onclick="openLoginModal()">admin</button>
        </div>
    </nav>
    <div id="contents" class="container">

        <div id="IE" v-if="show">
            <h1 class="section-title"><p>{{ title }}</p></h1>
        </div>

        <div id="index" v-if="show">
            <h1 class="section-title"><p>{{ title }}</p></h1>
            <div id="index-box">
                <div id="index-contents">
                    <ul>
                        <li id="index-blog" onclick="route(steemit)">
                            <div id="index-blog-text">
                                <h1>Wellcome!</h1>
                                <h2>if you want see my blog, click me!</h2>
                            </div>
                            <img src="static/img/BlogCharacter.png" alt="Blog">
                        </li>
                        <li id="index-contact" onclick="route(contactPage)">
                            <div id="index-contact-text">
                                <h1>Contact Me</h1>
                                <h2>Send Email</h2>
                            </div>    
                            <img src="static/img/PaperPlane.png" alt="Contact">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div  id="steemit" class="steemit-contents" v-if="show">
            <h1 class="section-title"><p>{{ title }}</p></h1>
            <div v-for="value in posts" >
                <h1 class="post-title">{{ value.title }}</h1>
                <span v-html="value.content"></span>
            </div>
        </div>
        
        <div  id="contact" class="contact" v-if="show">
            <h1 class="section-title"><p>{{ title }}</p></h1>
            <form action="/sendEmail" method="post" autocomplete="off">
                <input type="email" style="display:none" />
                <input type="text" style="display:none" />
                <div class="group">
                    <input type="text" name="subject" id="email-subject">
                    <label for="email-subject">Subject</label>
                    <div class="bar"></div>
                </div>
                <div class="group">
                    <input type="email" name="from" id="email-from">
                    <label for="email-from">Email</label>
                    <div class="bar"></div>
                </div>
                <div class="group group-textarea">
                    <textarea name="msg" id="email-msg"></textarea>
                    <label for="email-msg">Massage</label>
                    <div class="bar"></div>
                    <button type="submit" class="snip">Send Email</button>
                </div>
            </form>
        </div>

    </div>

    <div id="login-modal" class="modal-overlay">
        <div class="modal">
            <span class="modal-close" onclick="closeLoginModal()">&times;</span>
            <div class="modal-content">
                <h1>Login for Admin</h1>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
        </div>
    </div>

    <div id="alert" class="modal-overlay">
        <div class="modal">
            <span class="modal-close" onclick="closeAlert()">&times;</span>
            <div class="modal-content">
                <h1 id="alert-text"></h1>                 
            </div>
        </div>
    </div>
    
    <div id="postLoader" class="loader-overlay">
        <div class="loader"></div>
    </div>    
    <div id="footer">
        <div class="container">
            <p>© 2017 - 2018 Jung jong seon All rights reserved.</p><p> Email : whdrjs0@gmail.com </p>
        </div>
    </div>
</body>
<!-- 의존성이 없는 다른데서 가져온 js -->
<script src="static/js/showdown.min.js"></script>
<!-- 의존성이 없는 내가 만든 js-->
<script src="static/js/modal.js"></script>
<script src="static/js/vueManager.js"></script>
<!-- 의존성이 있는 js -->
<script src="static/js/steemit.js"></script>
<script src="static/js/login.js"></script>
<!-- 메인이 되는 js. 맨 아래 둘 것. -->
<script src="static/js/app.js"></script>

</html>