<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="765155504252-mnp81pgef2qrlvc8j9g2job71lptc806.apps.googleusercontent.com">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="//cdn.steemjs.com/lib/latest/steem.min.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <title>jmue</title>
</head>
<body onload="onload()">
    <nav class="dark-theme" role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li>Home</li>
                <li>About</li>
                <li>Info</li>
                <li>Contact</li>
            </ul>
        </div>
        <div id="nav-login">
            <button class="snip" onclick="openLoginModal()">admin</button>
        </div>
    </nav>
    <div id="contents" class="container">
        <div id="IE" v-if="show">
            <h1><p>{{ message }}</p></h1>
        </div>
        <div class="steemit-contents" id="steemit" >
            <div v-for="value in posts" >
                <h1>{{ value.title }}</h1>
                <span v-html="value.content"></span>
            </div>
        </div>       
    </div>
    <div id="login-modal" class="modal-overlay">
        <div class="modal">
            <span class="modal-close" onclick="closeLoginModal()">&times;</span>
            <div class="modal-content">
                <h1>Login for Admin</h1>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
        </div>
    </div>
    <div id="postLoader" class="loader-overlay">
        <div class="loader"></div>
    </div>    
    <div id="footer">
        <div class="container">
            <p>© 2017 - 2018 Jung jong seon All rights reserved.</p><p> Email : whdrjs0@gmail.com </p>
        </div>
    </div>
</body>
<script src="static/js/showdown.min.js"></script>
<script src="static/js/steemit.js"></script>
<script src="static/js/login.js"></script>
<script src="static/js/modal.js"></script>
<script src="static/js/app.js"></script>

</html>